{% extends 'donor/base.html' %}


{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add New Donor</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </div>

    <div class="col-sm-7 offset-1">
        <h4 class="text-center alert alert-info">Donors' Information</h4>

        {% if mem %}
        <table class="table  text-center">
            <thead class="table ">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Blood Group</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in mem %}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.group}}</td>
                    <td>
                        <a href="{% url 'update' i.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <form action="{% url 'delete' i.id%}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-info">No Records</h4>
        {% endif %}
    </div>
</div>
{% endblock content %}